#### Imports

In [1]:
import numpy as np
import pandas as pd
import os
import seaborn as sns
import matplotlib.pyplot as plt

C:\Users\zlism\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

#### Reading in the Data

In [40]:
plays = pd.read_csv('NFL_Play_by_Play_2009-2018_(v5).csv')

C:\Users\zlism\AppData\Local\Temp\ipykernel_100836\3835304158.py:1: DtypeWarning: Columns (42,166,167,168,169,174,175,178,179,182,183,188,189,190,191,194,195,203,204,205,218,219,220,231,232,233,238,240,241,249) have mixed types. Specify dtype option on import or set low_memory=False.
  plays = pd.read_csv('NFL_Play_by_Play_2009-2018_(v5).csv')

In [41]:
# looking at breakdowns of the columns by dtype
plays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449371 entries, 0 to 449370
Columns: 255 entries, play_id to defensive_extra_point_conv
dtypes: float64(135), int64(18), object(102)
memory usage: 874.2+ MB

In [42]:
# Looking at 5 random plays
plays.sample(5)

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,replay_or_challenge_result,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
348321,3480,2016120100,MIN,DAL,MIN,home,DAL,DAL,35.0,2016-12-01,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
79356,2665,2010121205,DET,GB,DET,home,GB,DET,83.0,2010-12-12,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
196013,523,2013101400,SD,IND,SD,home,IND,SD,62.0,2013-10-14,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
269334,2624,2014122806,MIN,CHI,MIN,home,CHI,CHI,41.0,2014-12-28,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0
329978,3690,2016100910,OAK,SD,SD,away,OAK,SD,67.0,2016-10-09,...,NaN,NaN,NaN,0,NaN,NaN,0.0,0.0,0.0,0.0

### Filtering for the plays with a valid play type

In [50]:
# count of plays with no play type
plays['play_type'].isnull().value_counts()

play_type
False    436497
True      12874
Name: count, dtype: int64

In [94]:
#filtering for the valid plays
completed_plays = plays[plays['play_type'].notna()]

In [95]:
# finding a few descriptive statistics 
completed_plays.info()

<class 'pandas.core.frame.DataFrame'>
Index: 436497 entries, 0 to 449369
Columns: 255 entries, play_id to defensive_extra_point_conv
dtypes: float64(135), int64(18), object(102)
memory usage: 852.5+ MB

#### Null Values Exploration

In [96]:
# finding the columns with the highest number of null values
completed_plays.isnull().sum().sort_values(ascending=False).head(30)

assist_tackle_4_team                    436497
lateral_sack_player_id                  436497
lateral_sack_player_name                436497
assist_tackle_4_player_id               436497
assist_tackle_4_player_name             436497
assist_tackle_3_player_id               436494
assist_tackle_3_player_name             436494
assist_tackle_3_team                    436494
tackle_for_loss_2_player_name           436489
tackle_for_loss_2_player_id             436489
lateral_rusher_player_id                436480
lateral_rusher_player_name              436480
lateral_punt_returner_player_name       436474
lateral_punt_returner_player_id         436474
lateral_interception_player_id          436474
lateral_interception_player_name        436474
forced_fumble_player_2_player_name      436465
forced_fumble_player_2_team             436464
forced_fumble_player_2_player_id        436464
fumbled_2_player_id                     436459
lateral_kickoff_returner_player_id      436459
fumbled_2_player_name                   436459
lateral_kickoff_returner_player_name    436459
fumbled_2_team                          436459
fumble_recovery_2_player_name           436451
fumble_recovery_2_player_id             436450
fumble_recovery_2_yards                 436450
fumble_recovery_2_team                  436450
own_kickoff_recovery_player_name        436403
own_kickoff_recovery_player_id          436403
dtype: int64

In [109]:
# dropping the columns with mostly null values
completed_plays_v2 = completed_plays.dropna(axis = 1, thresh=10000)

In [110]:
completed_plays_v2

,play_id,game_id,home_team,away_team,posteam,posteam_type,defteam,side_of_field,yardline_100,game_date,...,penalty_team,penalty_player_id,penalty_player_name,penalty_yards,replay_or_challenge,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,46,2009091000,PIT,TEN,PIT,home,TEN,TEN,30.0,2009-09-10,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
1,68,2009091000,PIT,TEN,PIT,home,TEN,PIT,58.0,2009-09-10,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
2,92,2009091000,PIT,TEN,PIT,home,TEN,PIT,53.0,2009-09-10,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
3,113,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
4,139,2009091000,PIT,TEN,PIT,home,TEN,PIT,56.0,2009-09-10,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449365,4027,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449366,4059,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449367,4081,2018121700,CAR,NO,CAR,home,NO,CAR,66.0,2018-12-17,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449368,4106,2018121700,CAR,NO,CAR,home,NO,CAR,61.0,2018-12-17,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449369,4128,2018121700,CAR,NO,NO,away,CAR,CAR,39.0,2018-12-17,...,NaN,NaN,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0

#### Feature Engineering with Domain Knowledge

In [157]:
# finding the columns with player names in it to filter out - not relevant
player_cols = [x for x in completed_plays_v2.columns if 'player' in x]   

# finding the columns with 'id' in it - not helpful
id_cols = [x for x in completed_plays_v2.columns if 'id' in x]  

# finding the columns with 'posteam' in it - all repetitive
posteam_cols = [x for x in completed_plays_v2.columns if 'posteam' in x] 

# finding the columns with 'lateral' in it - not helpful
lateral_cols = [x for x in completed_plays_v2.columns if 'lateral' in x]

In [158]:
# making the new df getting rid of unnecessary data
completed_plays_v3 = completed_plays_v2.drop(columns = player_cols + id_cols + posteam_cols + lateral_cols)

In [159]:
# looking at descriptive statistics
completed_plays_v3.info()

<class 'pandas.core.frame.DataFrame'>
Index: 436497 entries, 0 to 449369
Columns: 157 entries, home_team to defensive_extra_point_conv
dtypes: float64(119), int64(16), object(22)
memory usage: 526.2+ MB

In [160]:
completed_plays_v3

,home_team,away_team,defteam,yardline_100,game_date,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,game_half,quarter_end,...,return_team,return_yards,penalty_team,penalty_yards,replay_or_challenge,penalty_type,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,PIT,TEN,TEN,30.0,2009-09-10,900.0,1800.0,3600.0,Half1,0,...,PIT,39.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
1,PIT,TEN,TEN,58.0,2009-09-10,893.0,1793.0,3593.0,Half1,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
2,PIT,TEN,TEN,53.0,2009-09-10,856.0,1756.0,3556.0,Half1,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
3,PIT,TEN,TEN,56.0,2009-09-10,815.0,1715.0,3515.0,Half1,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
4,PIT,TEN,TEN,56.0,2009-09-10,807.0,1707.0,3507.0,Half1,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449365,CAR,NO,NO,66.0,2018-12-17,64.0,64.0,64.0,Half2,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449366,CAR,NO,NO,66.0,2018-12-17,63.0,63.0,63.0,Half2,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449367,CAR,NO,NO,66.0,2018-12-17,58.0,58.0,58.0,Half2,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449368,CAR,NO,NO,61.0,2018-12-17,38.0,38.0,38.0,Half2,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0
449369,CAR,NO,CAR,39.0,2018-12-17,35.0,35.0,35.0,Half2,0,...,NaN,0.0,NaN,NaN,0,NaN,0.0,0.0,0.0,0.0

#### Filtering Out the Object Columns for Additional Analysis

In [161]:
# getting rid of object columns - descriptions and team names not always helpful
completed_plays_v4 = completed_plays_v3.drop(columns=completed_plays_v3.select_dtypes(include=['object']).columns)

In [162]:
completed_plays_v4

,yardline_100,quarter_seconds_remaining,half_seconds_remaining,game_seconds_remaining,quarter_end,drive,sp,qtr,down,goal_to_go,...,fumble,complete_pass,assist_tackle,return_yards,penalty_yards,replay_or_challenge,defensive_two_point_attempt,defensive_two_point_conv,defensive_extra_point_attempt,defensive_extra_point_conv
0,30.0,900.0,1800.0,3600.0,0,1,0,1,NaN,0.0,...,0.0,0.0,0.0,39.0,NaN,0,0.0,0.0,0.0,0.0
1,58.0,893.0,1793.0,3593.0,0,1,0,1,1.0,0.0,...,0.0,1.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
2,53.0,856.0,1756.0,3556.0,0,1,0,1,2.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
3,56.0,815.0,1715.0,3515.0,0,1,0,1,3.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
4,56.0,807.0,1707.0,3507.0,0,1,0,1,4.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449365,66.0,64.0,64.0,64.0,0,20,0,4,1.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
449366,66.0,63.0,63.0,63.0,0,20,0,4,2.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
449367,66.0,58.0,58.0,58.0,0,20,0,4,3.0,0.0,...,0.0,1.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
449368,61.0,38.0,38.0,38.0,0,20,0,4,4.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0
449369,39.0,35.0,35.0,35.0,0,21,0,4,1.0,0.0,...,0.0,0.0,0.0,0.0,NaN,0,0.0,0.0,0.0,0.0

#### PCA for Dimensionality Reduction

In [166]:
# fill all the null values with 0 values for PCA
completed_plays_v4 = completed_plays_v4.fillna(0)

In [175]:
from sklearn.decomposition import PCA

# Fit PCA and get the explained variance
pca = PCA(n_components=3)
pca.fit(completed_plays_v4)
print("Explained variance ratio:", pca.explained_variance_ratio_.round(2))

Explained variance ratio: [0.82 0.15 0.03]

In [179]:
# creating a df to associate each column with its respective principal component
loadings = pd.DataFrame(pca.components_.T, columns=[f"PC{i+1}" for i in range(pca.n_components_)], index=completed_plays_v4.columns)

In [200]:
# creating separate series of each PC sorted by importance
pc_1_vals = loadings['PC1'].abs().sort_values(ascending=False)
pc_2_vals = loadings['PC2'].abs().sort_values(ascending=False)
pc_3_vals = loadings['PC3'].abs().sort_values(ascending=False)